.about-me-container {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  display: flex;
  /* justify-content: row; */
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
}

.about-me-items {
  flex: 1 1;
  align-items: center;
  margin-top: 30px;
}

.about-me-image {
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.about-me-header {
  margin-top: 30px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 40px;
}

.about-me-description {
  margin: 10px 50px;
}
