.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  /* background-image: url('../../image/stiimage1.jpg'); */
  background-position: center;
  color: rgba(64, 104, 45, 0.747);
}

.landing-header {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 100px;
  padding: 10% 0;
}

.landing-description {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 20px;
}
