.navbar-container {
  /* position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;  */
  /* margin-right: 1rem; */
  display: flex;
  flex: 1;
  justify-content: center;
  /* &__item {
    padding: 0.25rem 0;
    margin: 0 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;
  } */
}

.navbar-item {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  line-height: 70px;
  padding: calc(50px - 2%) calc(50px - 1%);
  font-size: 1.5em;
  font-weight: 400;
  color: black;
}
